---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { ViewTransitions } from "astro:transitions";
import { SITE } from "../../config";
import BaseHead from "../../components/BaseHead.astro";
import { getFirst } from "./helper";
import PostFooter from "../../components/PostFooter.astro";

// // 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("play");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;

const { Content, headings } = await entry.render();

const allPosts = (
  await getCollection("play", ({ data }) => {
    return data.archive !== true;
  })
).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
const title = entry.data.title + ", " + SITE.title;
const description = entry.data.description;
const credits = entry.data.credits ? entry.data.credits : null;
---

<head>
  <BaseHead {title} {description} />
</head>
<Layout colors={entry.data.colors}>
  <header class="page-margins mb-4">
    <h1
      class="text-4xl lg:text-8xl text-center mt-2 mb-4"
      transition:name={"title:" + entry.slug}
    >
      {entry.data.title}
    </h1>
  </header>

  <article class="page-margins mx-auto my-3 mt-12 col-2 md:flex gap-6 relative">
    <section class="max-w-prose md:w-md lg:w-md md:sticky top-[1em] self-start">
      <p lang="en" class="lg:text-lg mb-3 md:w-[27ch] lg:w-[30ch] mt-3">
        {entry.data.description}
      </p>
      <div class="grid grid-cols-2 text-sm lg:text-base gap-4">
        {
          credits &&
            Object.entries(credits).map(([key, value]) => (
              <div>
                <p class="opacity-80">{key}</p>
                <p>{value}</p>
              </div>
            ))
        }
      </div>
    </section>
    <section class="prose grid grid-cols-1 lg:grid-cols-2 gap-x-4 gap-y-3">
      <!-- {
        getFirst(entry.data.heroImages, (img) => (
          <img
            src={img[1].src}
            alt={img[0]}
            height={img[1].height}
            width={img[1].width}
            loading='lazy'
          />
        ))
      } -->
      <Content />
    </section>
  </article>

  <PostFooter collection="play" postList={allPosts} currentId={entry.id} />
</Layout>

<style lang="postcss" is:global>
  .directory {
    @apply px-2 py-4 border-b-2 border-theme-dark block;
    @apply text-xl;
  }
  .directory.active {
    @apply py-3 my-1 border-2 border-dashed;
  }
  .prose h1 {
    @apply text-4xl mb-4 mt-6;
  }
  .prose h2 {
    @apply text-2xl mb-4 mt-4;
  }
  .prose h3 {
    @apply text-2xl mb-3;
  }
  .prose h4 {
    @apply text-2xl mb-3;
  }
  .prose p {
    @apply mb-3 leading-7 text-lg;
  }
  </style>
