---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

import MainHero from "../components/MainHero.astro";
import ImageRow from "../components/ImageRow.astro";
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import { SITE, ANCHORTAGS } from "../config";
import ShinyButton from "../components/ShinyButton.astro";
import pageConfig from './indexConfig.yml'
const { title } = SITE;
const description = "Simon Zhang is just practicing design";

interface PageConfig {
  funFacts: {
    [key: string]: {
      href: string
      text: string
    }
  }
}
const funFacts = (pageConfig as PageConfig).funFacts


// Data Fetching: List all Markdown posts in the repo.

const allPosts = (
  await getCollection("work", ({ data }) => {
    return data.archive !== true;
  })
).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<head>
  <BaseHead {title} {description} />
  
</head>
<Layout>
  <div class="md:sticky top-12 page-margins z-[0]">
    <MainHero />
    <section class='flex flex-col items-center mt-[15vh] ' >
      
      <p class="text-center">
        Graphic designer and Web developer <a href="/after-hours">in the evening</a>
      </p>
    </section>
  </div>
  

  <section
    aria-label='Blog post list'
    class='flex flex-col items-center mt-12 '
    id='work'
  >
    {allPosts?.map((post, index) => 
      <a href={`/work/${post.slug}`} class="group link-clear z-20"  >
    <article class='w-full page-margins py-12 bg-theme-light text-theme-dark' style=`--c-light: ${post.data.colors.bg}; --c-dark: ${post.data.colors.fg} `  >
      <header>
        <h1 class='text-center pb-4 '>
          <span class='block'>Case Study {index}:</span>
          <span class='block text-4xl md:text-5xl group-hover:underline' transition:name={"title:"+post.slug}>{post.data.title}</span>
        </h1>
      </header>
      <ImageRow images={post.data.heroImages}  slug={post.slug} class="" />
      <footer class='flex justify-between flex-col md:flex-row mt-2 gap-2 leading-tight'>
        <p class='text-sm md:text-base max-w-md flex-shrink'>{post.data.description}</p>
        <ShinyButton height="4em" width="13em" color={post.data.colors.fg} class='self-center min-w-[7em]'>
           <span class="text-theme-light text-center">View Full Case Study</span>
        </ShinyButton>
      </footer>
    </article>          
    </a>
)}
  </section>
  <section id="about" class='page-margins py-10 grid grid-cols-1 lg:grid-cols-2 bg-theme-light relative z-10'>
    <div class="lg:col-start-2">
      <p class='text-2xl md:text-3xl lg:text-4xl indent-[3em] max-w-2xl'>
        simon zhang is a cross-disciplinary designer based in ATL & SEA —
        netscape-oriented with a windows aero slant. Bachlor of Science in Industrial Design from Georgia Tech. Creating intimacy between
        physical and digital products. <span>    
          <button data-contact class="psuedo-link">lets connect <3</button>
        </span>
      </p>
      <div class='grid grid-cols-2 gap-y-4 gap-x-3 mt-6 max-w-2xl'>
        {Object.entries(funFacts).map(([heading,data]) =>(
          <p  class="text-sm md:text-base">
          <span class="opacity-80">{heading} </span>
          <br/>
          <a href={data.href} target="_blank">{data.text}</a>
          </p>
        ))}
      
      
      </p>
    </div>
    
    </div>
  </section>
</Layout>

<style lang="postcss">
  .psuedo-link {
    @apply underline hover:bg-theme-dark hover:text-theme-light;
  }
 
</style>