---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

import MainHero from "../components/MainHero.astro";
import ImageRow from "../components/ImageRow.astro";
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import { SITE, ANCHORTAGS } from "../config";

const { title } = SITE;
const description = "Simon Zhang is just practicing design";

// Data Fetching: List all Markdown posts in the repo.

const allPosts = (
  await getCollection("work", ({ data }) => {
    return data.archive !== true;
  })
).sort((a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<head>
  <ViewTransitions   fallback="none" />
  <BaseHead {title} {description} />
  
</head>
<Layout>
  <MainHero />
  <section class='flex flex-col items-center px-2 mt-[15vh]' >
    <!-- <p class='text-center max-w-sm'>
      scroll down to see some of my selected work, or send me a message via
      online mail. If you’re curious, check out what I'm listening to right now.
    </p> -->
  </section>

  <section
    aria-label='Blog post list'
    class='flex flex-col items-center mt-12 gap-10'
    id='work'
  >
    {allPosts?.map((post, index) => 
    <article class='w-full px-2 pt-4 pb-6 bg-theme-light text-theme-dark' style=`--c-light: ${post.data.colors.bg}; --c-dark: ${post.data.colors.fg} `  >
  <header>
    <h2 class='text-center pb-4'>
      <span class='block'>Case Study {index}:</span>
      <span class='block text-5xl' transition:name={"title:"+post.slug}>{post.data.title}</span>
    </h2>
  </header>
  <ImageRow images={post.data.heroImages} alt={post.data.heroImagesAlt} slug={post.slug} />
  <footer class='flex justify-between mt-2 flex-col md:flex-row gap-2 leading-tight'>
    <p class='max-w-md'>{post.data.description}</p>
    <p>
      <a href={`/work/${post.slug}`}>
        Full Case Study: {post.data.title}
      </a>
    </p>
  </footer>
</article>)}
  </section>
  <section id="about" class='px-2 my-10'>
    <p class='text-3xl lg:text-4xl indent-[3em] max-w-2xl'>
      simon zhang is a cross-disciplinary designer based in ATL & SEA —
      netscape-oriented with a windows aero slant. creating intimacy between
      physical and digital products.
    </p>
    <div class='grid grid-cols-2 gap-y-2 gap-x-1 mt-6 max-w-2xl'>
      <p>
        Listening To: <br /> Five Years of Work and We Built That Song by
        Newfound Interest in Connecticut
      </p>
      <p>Reading right now: <br />CAPS LOCK by Ruben Pater</p>  
      <p>See how this site was built 👀<br /> <a href="https://github.com/codelastnight/portfolio2">Source Code on Github</a></p>
    </div>
  </section>
</Layout>
