---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ImageRow from "../../components/ImageRow.astro";
import { ViewTransitions } from "astro:transitions";
import { SITE } from "../../config";
import BaseHead from "../../components/BaseHead.astro";
import PostFooter from "../../components/PostFooter.astro";
// // 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("work");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;

const { Content, headings } = await entry.render();

const allPosts = (
  await getCollection("work", ({ data }) => {
    return data.archive !== true;
  })
).sort((a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf());
const title = entry.data.title + " | " + SITE.title;
const description = entry.data.description;
const credits = entry.data.credits ? entry.data.credits : null;
---

<head>
  <ViewTransitions fallback='none' />
  <BaseHead {title} {description} />
</head>
<Layout colors={entry.data.colors}>
  <header class='page-margins mb-4'>
    <h1
      class='text-5xl md:text-6xl lg:text-8xl text-center mt-2 mb-4'
      transition:name={"title:" + entry.slug}
    >
      {entry.data.title}
    </h1>
    <ImageRow slug={entry.slug} images={entry.data.heroImages} />
  </header>

  <article class='page-margins mb-24 mt-12 col-2'>
    <section class='my-6 max-w-3xl mx-auto'>
      <p lang='en' class='text-2xl md:text-4xl mb-3'>
        {entry.data.description}
      </p>
      <div class='grid grid-cols-2 md:grid-cols-4 text-sm md:text-base gap-4'>
        {
          credits &&
            Object.entries(credits).map(([key, value]) => (
              <div>
                <p class='opacity-80'>{key}</p>
                <p>{value}</p>
              </div>
            ))
        }
      </div>
    </section>
    <section class='prose w-full'>
      <Content />
    </section>
  </article>
  <PostFooter collection='work' postList={allPosts} currentId={entry.id} />
</Layout>

<style lang="postcss" is:global>

 
  .paragraph-text {
    @apply mx-auto max-w-3xl leading-relaxed lg:leading-relaxed  mb-4 text-sm md:text-base lg:text-lg;
  }
  .paragraph-image {
    @apply mx-auto max-w-5xl mt-20 mb-20;

  }
  .prose h1 {
    @apply text-center ;
 }
  .prose h1 {
    @apply text-4xl md:text-7xl mb-4 mt-12 py-3 px-6 max-w-xl;
  }
  .prose h2 {
    @apply text-2xl md:text-4xl mb-4 mt-8 md:leading-tight;
  }
  .prose h3 {
    @apply text-2xl mb-6;
  }
  .prose h4 {
    @apply text-2xl mb-4;
  }
  blockquote {
    @apply pr-8 pl-12  mx-auto max-w-3xl pb-3 pt-7 bg-gray-100 border-2 border-gray-400; 
  }
  .prose img {
    @apply my-3 border border-theme-dark;
  }
  .prose mark {
    @apply bg-theme-dark text-theme-light rounded-lg md:rounded-xl px-2  whitespace-pre-wrap;
  }
  .prose .gridlayout {
    @apply grid grid-cols-1 md:grid-cols-2 mx-auto max-w-5xl gap-3;
  }
  .prose .gridlayout p {
    @apply mx-0 w-full h-full border-2 border-theme-dark px-2 py-1 md:px-4 md:py-3 border-dashed;
  }
  </style>
